<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/Roger/rally-route-mapper/Commercialisation/IMG_4380.mov</key>
	<data>
	Ym9va0gDAAAAAAQQMAAAACbWGRsfk4n3YwSeu6Y3JRPssbJK8LPRomQSBPOfz1OrOAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAFJvZ2VyAAAAEgAAAAEB
	AAByYWxseS1yb3V0ZS1tYXBwZXIAABEAAAABAQAAQ29tbWVyY2lhbGlzYXRpb24AAAAM
	AAAAAQEAAElNR180MzgwLm1vdhQAAAABBgAAEAAAACAAAAAwAAAATAAAAGgAAAAIAAAA
	BAMAAKFYAAAAAAAACAAAAAQDAAAdXQYAAAAAAAgAAAAEAwAArEc/IAAAAAAIAAAABAMA
	AC6vkiIAAAAACAAAAAQDAABh8lskAAAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgA
	AAAIAAAAAAQAAEHGLlPEAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
	AAAABAMAAAMAAAAAAAAAAwAAAAEBAABSb2cABAAAAAMDAAD2AQAACAAAAAEJAABmaWxl
	Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcco
	hIaAAAAkAAAAAQEAAEZCMTEzM0Q2LUZCOEYtNDEyMi1BOUZELTQ4MkU4MDhCRDc3QRgA
	AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAv
	AAAAAQEAAE5TVVJMQm9va21hcmtRdWFyYW50aW5lTW91bnRlZE5ldHdvcmtWb2x1bWVz
	S2V5ANgAAAD+////AQAAAAAAAAARAAAABBAAAHwAAAAAAAAABRAAAOgAAAAAAAAAEBAA
	ABQBAAAAAAAAQBAAAAQBAAAAAAAAAiAAAOwBAAAAAAAABSAAAFwBAAAAAAAAECAAAGwB
	AAAAAAAAESAAAKABAAAAAAAAEiAAAIABAAAAAAAAEyAAAJABAAAAAAAAICAAAMwBAAAA
	AAAAMCAAAPgBAAAAAAAAAcAAADQBAAAAAAAAEcAAAEQBAAAAAAAAEsAAAFABAAAAAAAA
	ENAAAAQAAAAAAAAAAAIAgPgBAAAAAAAA
	</data>
	<key>/Users/Roger/rally-route-mapper/Commercialisation/Presentation1.mp4</key>
	<data>
	Ym9va1ADAAAAAAQQMAAAAMVa7CQh7rJluXtVx3hrfvufc+VHzXbPLBWH4OXYS5PKQAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAFJvZ2VyAAAAEgAAAAEB
	AAByYWxseS1yb3V0ZS1tYXBwZXIAABEAAAABAQAAQ29tbWVyY2lhbGlzYXRpb24AAAAR
	AAAAAQEAAFByZXNlbnRhdGlvbjEubXA0AAAAFAAAAAEGAAAQAAAAIAAAADAAAABMAAAA
	aAAAAAgAAAAEAwAAoVgAAAAAAAAIAAAABAMAAB1dBgAAAAAACAAAAAQDAACsRz8gAAAA
	AAgAAAAEAwAALq+SIgAAAAAIAAAABAMAACxtvSQAAAAAFAAAAAEGAACgAAAAsAAAAMAA
	AADQAAAA4AAAAAgAAAAABAAAQcc6Bz+Ru04YAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAA
	AAAAAAAAAAgAAAAEAwAAAwAAAAAAAAADAAAAAQEAAFJvZwAEAAAAAwMAAPYBAAAIAAAA
	AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAA
	AAAEAABBxyiEhoAAACQAAAABAQAARkIxMTMzRDYtRkI4Ri00MTIyLUE5RkQtNDgyRTgw
	OEJENzdBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
	AAAAAQUAAC8AAAABAQAATlNVUkxCb29rbWFya1F1YXJhbnRpbmVNb3VudGVkTmV0d29y
	a1ZvbHVtZXNLZXkA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAhAAAAAAAAAAFEAAA8AAA
	AAAAAAAQEAAAHAEAAAAAAABAEAAADAEAAAAAAAACIAAA9AEAAAAAAAAFIAAAZAEAAAAA
	AAAQIAAAdAEAAAAAAAARIAAAqAEAAAAAAAASIAAAiAEAAAAAAAATIAAAmAEAAAAAAAAg
	IAAA1AEAAAAAAAAwIAAAAAIAAAAAAAABwAAAPAEAAAAAAAARwAAATAEAAAAAAAASwAAA
	WAEAAAAAAAAQ0AAABAAAAAAAAAAIAgCAAAIAAAAAAAA=
	</data>
	<key>/Users/Roger/rally-route-mapper/Commercialisation/ScreenRecording_09-14-2025 16-04-23_1.mov</key>
	<data>
	Ym9va2gDAAAAAAQQMAAAAOayoD1YXm8ONWU8ErCrTz+isXzi2a63tSW2ewmBTdjLWAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAFJvZ2VyAAAAEgAAAAEB
	AAByYWxseS1yb3V0ZS1tYXBwZXIAABEAAAABAQAAQ29tbWVyY2lhbGlzYXRpb24AAAAp
	AAAAAQEAAFNjcmVlblJlY29yZGluZ18wOS0xNC0yMDI1IDE2LTA0LTIzXzEubW92AAAA
	FAAAAAEGAAAQAAAAIAAAADAAAABMAAAAaAAAAAgAAAAEAwAAoVgAAAAAAAAIAAAABAMA
	AB1dBgAAAAAACAAAAAQDAACsRz8gAAAAAAgAAAAEAwAALq+SIgAAAAAIAAAABAMAAFam
	2CQAAAAAFAAAAAEGAAC4AAAAyAAAANgAAADoAAAA+AAAAAgAAAAABAAAQcc7TLeAAAAY
	AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAwAAAAAAAAADAAAA
	AQEAAFJvZwAEAAAAAwMAAPYBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxyiEhoAAACQAAAABAQAARkIxMTMz
	RDYtRkI4Ri00MTIyLUE5RkQtNDgyRTgwOEJENzdBGAAAAAECAACBAAAAAQAAAO8TAAAB
	AAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAC8AAAABAQAATlNVUkxCb29rbWFy
	a1F1YXJhbnRpbmVNb3VudGVkTmV0d29ya1ZvbHVtZXNLZXkA2AAAAP7///8BAAAAAAAA
	ABEAAAAEEAAAnAAAAAAAAAAFEAAACAEAAAAAAAAQEAAANAEAAAAAAABAEAAAJAEAAAAA
	AAACIAAADAIAAAAAAAAFIAAAfAEAAAAAAAAQIAAAjAEAAAAAAAARIAAAwAEAAAAAAAAS
	IAAAoAEAAAAAAAATIAAAsAEAAAAAAAAgIAAA7AEAAAAAAAAwIAAAGAIAAAAAAAABwAAA
	VAEAAAAAAAARwAAAZAEAAAAAAAASwAAAcAEAAAAAAAAQ0AAABAAAAAAAAAAgAgCAGAIA
	AAAAAAA=
	</data>
	<key>/Users/Roger/rally-route-mapper/Commercialisation/iPad with RallyMapper.mp4</key>
	<data>
	Ym9va1gDAAAAAAQQMAAAAB1iq6DXOy//1/D0YJ9jwatkUBEPva54QsPB+QVEQ1oRSAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAFJvZ2VyAAAAEgAAAAEB
	AAByYWxseS1yb3V0ZS1tYXBwZXIAABEAAAABAQAAQ29tbWVyY2lhbGlzYXRpb24AAAAZ
	AAAAAQEAAGlQYWQgd2l0aCBSYWxseU1hcHBlci5tcDQAAAAUAAAAAQYAABAAAAAgAAAA
	MAAAAEwAAABoAAAACAAAAAQDAAChWAAAAAAAAAgAAAAEAwAAHV0GAAAAAAAIAAAABAMA
	AKxHPyAAAAAACAAAAAQDAAAur5IiAAAAAAgAAAAEAwAAROvXJAAAAAAUAAAAAQYAAKgA
	AAC4AAAAyAAAANgAAADoAAAACAAAAAAEAABBxztHdaLFLBgAAAABAgAAAQAAAAAAAAAP
	AAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAMAAAABAQAAUm9nAAQAAAADAwAA
	9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFCh
	G3MAAAAIAAAAAAQAAEHHKISGgAAAJAAAAAEBAABGQjExMzNENi1GQjhGLTQxMjItQTlG
	RC00ODJFODA4QkQ3N0EYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
	AQAALwAAAAAAAAABBQAALwAAAAEBAABOU1VSTEJvb2ttYXJrUXVhcmFudGluZU1vdW50
	ZWROZXR3b3JrVm9sdW1lc0tleQDYAAAA/v///wEAAAAAAAAAEQAAAAQQAACMAAAAAAAA
	AAUQAAD4AAAAAAAAABAQAAAkAQAAAAAAAEAQAAAUAQAAAAAAAAIgAAD8AQAAAAAAAAUg
	AABsAQAAAAAAABAgAAB8AQAAAAAAABEgAACwAQAAAAAAABIgAACQAQAAAAAAABMgAACg
	AQAAAAAAACAgAADcAQAAAAAAADAgAAAIAgAAAAAAAAHAAABEAQAAAAAAABHAAABUAQAA
	AAAAABLAAABgAQAAAAAAABDQAAAEAAAAAAAAABACAIAIAgAAAAAAAA==
	</data>
	<key>/Users/Roger/rally-route-mapper/Commercialisation/iPad.mp4</key>
	<data>
	Ym9va0QDAAAAAAQQMAAAAD7SAwNDpBd2Jgs/Sq6C30tfxRmtq/WKd+b8csnIMeuKNAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAFJvZ2VyAAAAEgAAAAEB
	AAByYWxseS1yb3V0ZS1tYXBwZXIAABEAAAABAQAAQ29tbWVyY2lhbGlzYXRpb24AAAAI
	AAAAAQEAAGlQYWQubXA0FAAAAAEGAAAQAAAAIAAAADAAAABMAAAAaAAAAAgAAAAEAwAA
	oVgAAAAAAAAIAAAABAMAAB1dBgAAAAAACAAAAAQDAACsRz8gAAAAAAgAAAAEAwAALq+S
	IgAAAAAIAAAABAMAALTa1yQAAAAAFAAAAAEGAACUAAAApAAAALQAAADEAAAA1AAAAAgA
	AAAABAAAQcc7RYa/mOsYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAE
	AwAAAwAAAAAAAAADAAAAAQEAAFJvZwAEAAAAAwMAAPYBAAAIAAAAAQkAAGZpbGU6Ly8v
	DAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxyiEhoAA
	ACQAAAABAQAARkIxMTMzRDYtRkI4Ri00MTIyLUE5RkQtNDgyRTgwOEJENzdBGAAAAAEC
	AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAC8AAAAB
	AQAATlNVUkxCb29rbWFya1F1YXJhbnRpbmVNb3VudGVkTmV0d29ya1ZvbHVtZXNLZXkA
	2AAAAP7///8BAAAAAAAAABEAAAAEEAAAeAAAAAAAAAAFEAAA5AAAAAAAAAAQEAAAEAEA
	AAAAAABAEAAAAAEAAAAAAAACIAAA6AEAAAAAAAAFIAAAWAEAAAAAAAAQIAAAaAEAAAAA
	AAARIAAAnAEAAAAAAAASIAAAfAEAAAAAAAATIAAAjAEAAAAAAAAgIAAAyAEAAAAAAAAw
	IAAA9AEAAAAAAAABwAAAMAEAAAAAAAARwAAAQAEAAAAAAAASwAAATAEAAAAAAAAQ0AAA
	BAAAAAAAAAD8AQCA9AEAAAAAAAA=
	</data>
</dict>
</plist>
