<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/Roger/rally-route-mapper/Commercialisation/ScreenRecording_09-11-2025 11-45-01_1.mov</key>
	<data>
	Ym9va2gDAAAAAAQQMAAAAKeLqzHavhrnwIeO29VYUCVW/44bxKdObuFnpaoMP55XWAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAFJvZ2VyAAAAEgAAAAEB
	AAByYWxseS1yb3V0ZS1tYXBwZXIAABEAAAABAQAAQ29tbWVyY2lhbGlzYXRpb24AAAAp
	AAAAAQEAAFNjcmVlblJlY29yZGluZ18wOS0xMS0yMDI1IDExLTQ1LTAxXzEubW92AAAA
	FAAAAAEGAAAQAAAAIAAAADAAAABMAAAAaAAAAAgAAAAEAwAAoVgAAAAAAAAIAAAABAMA
	AB1dBgAAAAAACAAAAAQDAACsRz8gAAAAAAgAAAAEAwAALq+SIgAAAAAIAAAABAMAAIzY
	uiQAAAAAFAAAAAEGAAC4AAAAyAAAANgAAADoAAAA+AAAAAgAAAAABAAAQcc5NBKAAAAY
	AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAwAAAAAAAAADAAAA
	AQEAAFJvZwAEAAAAAwMAAPYBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxyiEhoAAACQAAAABAQAARkIxMTMz
	RDYtRkI4Ri00MTIyLUE5RkQtNDgyRTgwOEJENzdBGAAAAAECAACBAAAAAQAAAO8TAAAB
	AAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAC8AAAABAQAATlNVUkxCb29rbWFy
	a1F1YXJhbnRpbmVNb3VudGVkTmV0d29ya1ZvbHVtZXNLZXkA2AAAAP7///8BAAAAAAAA
	ABEAAAAEEAAAnAAAAAAAAAAFEAAACAEAAAAAAAAQEAAANAEAAAAAAABAEAAAJAEAAAAA
	AAACIAAADAIAAAAAAAAFIAAAfAEAAAAAAAAQIAAAjAEAAAAAAAARIAAAwAEAAAAAAAAS
	IAAAoAEAAAAAAAATIAAAsAEAAAAAAAAgIAAA7AEAAAAAAAAwIAAAGAIAAAAAAAABwAAA
	VAEAAAAAAAARwAAAZAEAAAAAAAASwAAAcAEAAAAAAAAQ0AAABAAAAAAAAAAgAgCAGAIA
	AAAAAAA=
	</data>
</dict>
</plist>
